<!doctype html>
<html>
  <head>
    <title>Tornado templates with literal includes</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
    {% module VueTemplate("test-template.html") %}
  </head>
  <body>
    <div id="app">
      <input type="text" placeholder="Enter your name" v-model="name">
      <p>
        Hello there.
      </p>
      <div>
        <test :name="name"></test>
      </div>
    </div>
    <script src="{{ static_url('js/index.js') }}"></script>
  </body>
</html>
